build_folder: ./mgenero_build
# TODO right now the template name is relative to the build folder
template_name: ../amplifier.template.sv

modelparam:
  v_os:
    description: input-referred static offset voltage
    datatype: real
    value: 0.0
  etol_v_icm:
    description: resolution of input common-mode voltage (inp+inn)/2.0
    datatype: real
    value: 0.01
  etol_vdd:
    description: resolution of vdd
    datatype: real
    value: 0.01
  etol_f:
    description: error tolerance of a filter
    datatype: real
    value: 0.0001

